.UserDetailsPage-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 10vh;
  /* border: 2px solid black; */
}

.UserDetailsPage-login-h3 {
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

.UserDetailsPage-user-header {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
}
.UserDetailsPage-avatar-container {
  /* border: 2px solid black; */
}
.UserDetailsPage-github-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sub-color);
  border-radius: 5px;
  width: 40vw;
  margin-top: 1vh;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(168, 194, 202, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(168, 194, 202, 1);
  box-shadow: 0px 2px 5px 0px rgba(168, 194, 202, 1);
  transition: background-color 0.2s;
}
.UserDetailsPage-github-button:hover {
  background-color: var(--light-font-hover);
}

.UserDetailsPage-top-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}
.UserDetailsPage-stats-container {
  display: flex;
  /* border: 2px solid black; */
}

.UserDetailsPage-user-info {
  /* border: 1px solid greenyellow; */
  margin-top: 3vh;
}
.list-style {
  list-style-type: none;
  color: var(--font-color);
  font-size: 1rem;
}
.udp-name-style {
  font-size: 1rem;
  font-weight: bold;
}

.udp-hr-line {
  border-top: 1px solid #afbfd2;
}
