.UserDetailsPage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-top: 10vh;
  border: 2px solid black;
}
.UserDetailsPage-header {
  margin-top: 18vh;
  border: 2px solid black;
}
