.UserDetailsPage-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 10vh;
  border: 2px solid black;
}
.UserDetailsPage-user-header {
  display: flex;
  justify-content: space-between;
}

.UserDetailsPage-avatar-container {
  border: 2px solid;
}
.UserDetailsPage-stats-container {
  display: flex;
  border: 2px solid;
}
