.UserDrop-wrapper {
  display: flex;
  width: 60vw;
  height: 7rem;
  margin-top: 3vh;
  position: relative;
  background-color: var(--light-font-hover);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(168, 194, 202, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(168, 194, 202, 1);
  box-shadow: 0px 2px 5px 0px rgba(168, 194, 202, 1);
}
.UserDrop-wrapper::after {
  content: "";
  height: 10px;
  left: 15%;
  position: absolute;
  background-color: var(--light-font-hover);
  padding: 20px;
  margin-top: -15px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.UserDrop-image-container {
  z-index: 1;
  width: 45%;
  margin: 2%;
}
.UserDrop-name-container {
  z-index: 1;
  padding: 5% 5%;
  width: 55%;
}
.UserDrop-link-style {
  text-decoration: none;
  color: var(--link-color);
}
.UserDrop-image-styles {
  border: 2px solid var(--light-font-color);
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 1024px) {
  .UserDrop-wrapper {
    width: 30vw;
  }
}
