.App {
  box-sizing: border-box;
}

.App-body {
  background-color: #eff1c5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-Navbar {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background-color: #d8a47f;
  position: fixed;
  top: 0;
}
.Navbar-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  width: 60%;
  margin-top: 5vh;
}
.NavBar-list {
  list-style-type: none;
}
