.App {
  box-sizing: border-box;
  font-family: var(--app-font);
}

.App-body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 10vh;
}

.App-link {
  color: #61dafb;
}

.App-Navbar {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100vw;
  height: 60px;
  background-color: var(--sub-color);
  position: fixed;
  top: 0;
  z-index: 1;
}
.Navbar-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1vh 0 0 0;
  width: 60%;
  margin-top: 0vh;
}
.NavBar-list {
  list-style-type: none;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}
.NavBar-list:hover {
  color: var(--link-color-hover);
}
.NavBar-list-active {
  color: var(--link-color-hover);
}

.App-footer {
  margin-top: 5vh;
  padding-top: 10px;
  background-color: var(--sub-color);
  width: 100vw;
  height: 50px;
  text-align: center;
  color: #afbfd2;
  position: fixed;
  bottom: 0;
  font-size: calc(10px + 1vmin);
}
