:root {
  --bg-color: #cdedf6;
  --sub-color: #edf2f8;
  --link-color: #011936;
  --link-color-hover: #5d6c7f;
  --app-font: "Rubik", sans-serif;
  --font-color: #010c19;
  --light-font-color: #9eacbe;
  --light-font-hover: #dce1e7;
  --user-drop-color: #114b5f;
  --user-drop-hover: #0e3e4e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
