.HomePage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-top: 10vh;
}
.HomePage-title {
  color: rgb(113, 183, 205);
}
.HomePage-sub-heading {
  text-align: center;
  color: rgb(113, 183, 205);
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 0;
}
